@import "src/theme/colors.scss";

.customer-list {
    display: flex;
    flex-wrap: wrap;
    .add-customer, .display-customer {
        min-width: 200px;
        margin: 0 14px 14px 0;
    }
    .add-customer {
        border: 1px dashed $add-customer-border;
        background: $background-color;
        .same-line {
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: center;
            align-items: center;
            i {
                margin-right: 10px;
                font-size: 1.4rem;

                border-radius: 50%;
                background: $add-icon-background;
                color: $add-icon-color;
            }
            .info-text {
                font-size: .85em;
            }
        }
    }
    .display-customer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top-section {
            display: flex;
            flex-direction: row;
            .icon {
                width: 30px;
                height: 29px;
            }
            .customer-owner {
                margin-left: .4rem;
                display: flex;
                flex-direction: column;
                .customer {
                    font-size: .75rem;
                    height: .85rem;
                    margin-top: -2px;
                }
                .owner {
                    font-size: .7rem;
                    height: .9rem;
                    margin-top: 1px;
                    color: $owner-color
                }
            }
        }
        .address-email {
            color: $address-email-color;
            font-size: 0.65rem;
            margin-top: 0.3rem;
            .address {
                height: 0.9rem;
            }
            .email {
                height: 0.9rem;
            }
        }
    }
}