<div class="container">
    <div class="title">
      Create a new Customer or select an existing one
    </div>
    <div class="sub-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </div>
    <!-- Created a separate component for search as it can be reused in different pages -->
    <div class="search">
      <app-search></app-search>
    </div>
    <!-- Created a separate component for displaying customers and that can also be reused -->
    <div class="customer">
      <app-display-add-customer></app-display-add-customer>
    </div>
    <hr class="solid">
    <div class="back" (click)="back()"> 
      <i class="material-icons">arrow_back</i> Back
    </div>
</div>