/* You can add global styles to this file, and also import other style files */
@import './theme/colors.scss';

body {
    margin: 0px !important;
    background: $background-color;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pointer {
    cursor: pointer;
}
.mat-card {
    padding: 9px !important;
}

.bold {
    font-weight: bold;
}

.bold-500 {
    font-weight: 500;
}